[

 %% ----------------------------------------------------------------------------
 %% The LDAP plugin can perform a variety of queries against your
 %% LDAP server to determine questions of authorisation.
 %% ----------------------------------------------------------------------------

  {rabbitmq_auth_backend_ldap, [
    %%
    %% Authorisation
    %% =============
    %%

    %% The LDAP plugin can perform a variety of queries against your
    %% LDAP server to determine questions of authorisation. See
    %% http://www.rabbitmq.com/ldap.html#authorisation for more
    %% information.

    %% Set the query to use when determining vhost access
    %%
    %% {vhost_access_query, {in_group,
    %%                       "ou=${vhost}-users,ou=vhosts,dc=example,dc=com"}},

    %% Set the query to use when determining resource (e.g., queue) access
    %%
    %% {resource_access_query, {constant, true}},
    {resource_access_query,
      {'or', [
        {'and', [
          {equals,{attribute, "${user_dn}", "cn"},"onboard"},
          {match, {string, "${name}"}, "^\\$gaia\/[A-Za-z0-9_-]+\/[A-Za-z0-9_-]+\/v[0-9]+\/onboard\/[0-9A-Fa-f]{12}\/(req|rsp|\\+)\/(\\+|[A-Za-z0-9_-])+"}
        ]},
        {'and', [
          {'not', {equals, {attribute, "${user_dn}", "cn"}, "onboard"}},
          {match, {string, "${name}"},{string, "^\\$gaia\/[A-Za-z0-9_-]+\/[A-Za-z0-9_-]+\/[A-Za-z0-9_-]+\/[A-Za-z0-9_%-]+\/(([0-9]{1,3})-([0-9]{1,3})-([0-9]{1,3})-([0-9]{1,3})\/)?(req|rsp|\\+)\/(\\+|[A-Za-z0-9_-])+"}},
          {match, {attribute, "${user_dn}", "cn"}, {string, "${name}"}}
        ]},
        {equals, {attribute, "${user_dn}", "cn"},"gaia_dl"},
        {equals, {string, "${name}"},"amq.topic"},
        {'and', [
          {match, {string, "${name}"},"^mqtt-subscription-[A-Za-z0-9_%-]+qos[0-2]$"},
          {match, {string, "${name}"},{attribute, "${user_dn}", "cn"}}
        ]}
      ]}
    }

    %% Set queries to determine which tags a user has
    %%
    %% {tag_queries, []}
  ]}
].